{% extends 'app/base.html' %}
{% block title %}Events Calendar{% endblock %}
{% block content %}
<div class="panel">
    <div class="panel-body">
        <div id='calendar'></div>
    </div>
</div>
<!-- Modal Add -->
<div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="OccModalLabel">Set Occurrence</h4>
            </div>
            <form id="form-data" method="POST">
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-lg-12">
                        <span class="hidden" id="selected-start1"></span>
                        <label for="hood">Title</label><br>
                        <input id="hood" class="form-control" type="text" value="">
                    </div>
                    <p></p>
                    <div class="col-lg-12">
                        <label for="restaurant">Description</label><br>
                        <input id="restaurant" class="form-control" type="text" value="">
                    </div>
                    <p>&nbsp;</p>
                    <input type="radio" name="set" id="single-day" value="single-day"> Single Day |
                    <input type="radio" name="set" id="repeat" value="repeat"> Repeat
                    <p>&nbsp;</p>
                    <div id="occurrence">
                        <h5>Every</h5>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <input id="num" type="text" value="1" class="form-control" disabled>
                        </div>
                        <div class="col-lg-10 col-md-10col-sm-10 col-xs-10">
                            <select class="form-control" id="every">
                                <option value="days">days</option>
                                <option value="weeks">weeks</option>
                                <option value="months">months</option>
                                <option value="years" disabled>years</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12" id="dayofweek">
                        <h5>Repeats on</h5>
                        <label for="0">Mon <input type="checkbox" id="0" data-value="0" name="chkbox" value="Monday"></label> |
                        <label for="1">Tue <input type="checkbox" id="1" data-value="1" name="chkbox" value="Tuesday"></label> |
                        <label for="2">Wed <input type="checkbox" id="2" data-value="2" name="chkbox" value="Wednesday"></label> |
                        <label for="3">Thu <input type="checkbox" id="3" data-value="3" name="chkbox" value="Thursday"></label> |
                        <label for="4">Fri <input type="checkbox" id="4" data-value="4" name="chkbox" value="Friday"></label> |
                        <label for="5">Sat <input type="checkbox" id="5" data-value="5" name="chkbox" value="Saturday"></label> |
                        <label for="6">Sun <input type="checkbox" id="6" data-value="6" name="chkbox" value="Sunday"></label>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-sm-12">
                        <label for="id-never-ends">
                            Never Ends
                            <input id='id-never-ends' type="checkbox" value="TRUE" disabled>
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5>Starts</h5>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_start_date_start" value=""><br>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_start_date_end" value="" disabled>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5>Ends</h5>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_end_date_start" value="" disabled=""><br>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_end_date_end" value="">
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="sbt">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
    $("#repeat").attr('checked', 'checked'); // load repeat radio button selected
    $(".loader").show(); // load loader

    /**
     *  Hide week names on page load
     */
    $("#dayofweek").hide();
    /**
     * Initialize Datetime Picker
     */
    $('.datetimepicker').datetimepicker({ format: 'YYYY-MM-DD HH:mm:ss'});
	/**
     * On select option from every
     */
    $('#every').unbind("click").click(function(){
        e = $('#every option:selected').val(); // get selected option
        if (e == 'days') {
            $('#dayofweek').fadeOut('slow');
        } else if (e == 'weeks') {
            $('#dayofweek').fadeIn('slow');
            t = new Date().getDay(); // get current day of the week as integer
            // Loop array with map
            var arr = $('input[name=chkbox]:checkbox').map(function () {
                console.log(this.id);
                // if the id is the current day of the week
                if (this.id == t){
                    $('input[name=chkbox]:checkbox#'+t).attr( 'checked', true )
                }
            }).get()

        } else if (e == 'months') {
            $('#dayofweek').fadeOut('slow');
        } else if (e == 'years') {
            $('#dayofweek').fadeOut('slow');
        }
    });
    /**
     * After clicking cancel button on confirm
     */
    $('#cls2').unbind("click").click(function(){
        // Clear DOM here
        $('#title-id-set-to').empty();
        $('#description-id-set-to').empty();
        $('#rest-set-to').empty();
        $('#everyday').empty();
        $('#weekly').empty();
        $('#monthly').empty();
        $('#selected-start').empty();
        $('#selected-end').empty();
        $("#wdy-id-set-to").empty();
    });
    /**
     * After clicking submit on first modal for input
     */
    $('#sbt').unbind("click").click(function(){
        $('#ModalConfirm').modal({ backdrop: 'static', keyboard: true });
        var n = $('#num').val(); // get the number of occurrence set
        var e = $('#every option:selected').val(); // get selected repeat occurrence
        var h = $('#title').val(); // get title input
        var r = $('#description').val(); // get description input
        var d = $('#id_end_date_end').val(); // get filled date time on end
        var end = moment(d).format('YYYY-MM-DD HH:mm:ss'); // format the filled datetime
        var etime = end.split(" ")[1];
        var c = $('#selected-start1').text();
        var start = moment(c).format('YYYY-MM-DD HH:mm:ss'); // format the start datetime
        var stime = start.split(" ")[1];
        i = 0;
        var arr = [];
        // var form_data = $('#form-data').serialize();
        if (n == 1 && e == 'days') { // Daily
            $('#everyday').html('Yes');
            $('#set-to').html('Daily until ' + end);

            console.log('Daily');
        } else if (n > 1 && e == 'days') {
            $('#everyday').html('No');
            $('#set-to').html('Every ' + n + ' days until ' + end);

            console.log('Every ' + n + ' days');
        } else if (n == 1 && e == 'weeks') { // Weekly
            $('#everyday').html('No');
            $('#weekly').html('Yes');
            $('#set-to').html('Weekly until ' + end);

            console.log('Weekly');
        } else if (n > 1 && e == 'weeks') {
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#set-to').html('Weekly on ' + n + ' until ' + end);

            console.log(arr);

        } else if (n == 1 && e == 'months') { // Monthly
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('Yes');
            $('#set-to').html('Monthly until ' + end);

            console.log('Monthly');
        } else if (n > 1 && e == 'months') {
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('Yes');
            $('#set-to').html('Every ' + n + ' months until ' + end);

            console.log('Every ' + n + ' months');
        } else if (n == 1 && e == 'years') { // Yearly
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('No');
            $('#yearly').html('Yes');
            $('#set-to').html('Monthly until ' + end);

            console.log('Yearly');
        } else if (n > 1 && e == 'years') {
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('No');
            $('#years').html('Yes');
            $('#set-to').html('Every ' + n + ' years until ' + end);

            console.log('Every ' + n + ' years');
        }
        $('#selected-hood').html(h);
        $('#selected-start').html(start);
        $('#selected-end').html(end);
        $('#selected-stime').html(stime);
        $('#selected-etime').html(etime);
        $('#title-set-to').html('<h4>Events in <span class="text-danger">'+ h + '</span></h4>');
    });
    /**
     * After clicking submit on second modal for confirm
     */
	$("#sbt2").unbind("click").click(function(){
	    var daily = $('#everyday').text();
	    var weekly = $('#weekly').text();
        var monthly = $('#monthly').text();
	    var title = $('#title-id-set-to').val();
        console.log(title.toString());
        var description = $('#description-id-set-to').val();
        console.log(restaurant.toString());
        var weekday = $('#wdy-id-set-to').val();
	    var start = $('#selected-start').text();
	    var end = $('#selected-end').text();
	    // Assign handlers immediately after making the request,
        // and remember the jqxhr object for this request
        var jqxhr = $.post( '/admin/featured-restaurants/calc',
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                hood: hood.toString(),
                restaurant: restaurant.toString(),
                daily: daily,
                weekly: weekly,
                monthly: monthly,
                start: start,
                end: end,
                mon: $('input[id=0][name=wkdy-chkbox]:checkbox:checked').val(),
                tue: $('input[id=1][name=wkdy-chkbox]:checkbox:checked').val(),
                wed: $('input[id=2][name=wkdy-chkbox]:checkbox:checked').val(),
                thu: $('input[id=3][name=wkdy-chkbox]:checkbox:checked').val(),
                fri: $('input[id=4][name=wkdy-chkbox]:checkbox:checked').val(),
                sat: $('input[id=5][name=wkdy-chkbox]:checkbox:checked').val(),
                sun: $('input[id=6][name=wkdy-chkbox]:checkbox:checked').val()
            })
          .done(function() {
            console.log('Begin Submit');
          })
          .fail(function() {
              alert("Error! Data not saved");
          })
          .always(function() {
            console.log( "finished" );
          });
        //
        // Set another completion function for the request above
        jqxhr.always(function() {
          // Clear DOM here
          $('#rest-id-set-to').empty();
          $('#title-id-set-to').empty();
          $('#description-set-to').empty();
          $('#everyday').empty();
          $('#weekly').empty();
          $('#monthly').empty();
          $('#selected-start').empty();
          $('#selected-end').empty();
          $("#wdy-id-set-to").empty();
          location.reload();
        });
    });
	/**
     * After clicking checkbox for single day
     */
	$("input#single-day").unbind("click").click(function(){
        $('#occurrence').fadeOut('slow');
        //$('#id_end_date_start').fadeOut('slow');
        //$('#id_start_date_end').fadeOut('slow');
    });
	/**
     * After clicking checkbox for repeat
     */
	$("input#repeat").unbind("click").click(function(){
        $('#occurrence').fadeIn('slow');
        //$('#id_end_date_start').fadeIn('slow');
        //$('#id_start_date_end').fadeIn('slow');
    });
 });
</script>
{% endblock js %}
