{% extends "admin/admin-base.html" %}
{% block title %}Featured Restaurants{% endblock title %}
{% block content %}


<div class="main-content">
<div class="panel">
    <div class="panel-heading">
        <h4>Featured Restaurants</h4>
        <p></p>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <select class="form-control multi-select" id="filter-restaurants" multiple>
                    {% for restaurant in restaurants %}
                    <option id="{{ restaurant.slug }}" value="{{ restaurant.slug }}">
                        {{ restaurant.slug }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button type="button" class="btn btn-default btn-block" id="filter-btn" title="Filter featured resturants"><span class="fa fa-filter"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="loader"></div>
        <div id="load-calendar"></div>
    </div>
</div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="OccModalLabel">Set Occurrence</h4>
            </div>
            <form id="form-data" method="POST">
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <span class="hidden" id="selected-start1"></span>
                    <div class="col-lg-6">
                        <label for="restaurant">Select restaurant to feature</label><br>
                        <select id="restaurant" name="restaurant[]" class="form-control multi-select" required="required" multiple>
                            {% for restaurant in restaurants %}
                            <option id="{{ restaurant.id }}" value="{{ restaurant.id }}:{{ restaurant.slug }}">{{ restaurant.slug }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p></p>
                    <div class="col-lg-6">
                        <label for="hood">Select hood for featured restaurant</label><br>
                        <select id="hood" name="hood[]" class="form-control multi-select" required="required" multiple>
                            {% for hood in hoods %}
                            <option id="{{ hood.id }}" value="{{ hood.id }}:{{ hood.slug }}">{{ hood.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p>&nbsp;</p>
                    <input type="radio" name="set" id="single-day" value="single-day"> Single Day |
                    <input type="radio" name="set" id="repeat" value="repeat"> Repeat
                    <p>&nbsp;</p>
                    <div id="occurrence">
                        <h5>Every</h5>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <input id="num" type="text" value="1" class="form-control" disabled>
                        </div>
                        <div class="col-lg-10 col-md-10col-sm-10 col-xs-10">
                            <select class="form-control" id="every">
                                <option value="days">days</option>
                                <option value="weeks">weeks</option>
                                <option value="months">months</option>
                                <option value="years" disabled>years</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12" id="dayofweek">
                        <h5>Repeats on</h5>
                        <label for="0">Mon <input type="checkbox" id="0" data-value="0" name="chkbox" value="Monday"></label> |
                        <label for="1">Tue <input type="checkbox" id="1" data-value="1" name="chkbox" value="Tuesday"></label> |
                        <label for="2">Wed <input type="checkbox" id="2" data-value="2" name="chkbox" value="Wednesday"></label> |
                        <label for="3">Thu <input type="checkbox" id="3" data-value="3" name="chkbox" value="Thursday"></label> |
                        <label for="4">Fri <input type="checkbox" id="4" data-value="4" name="chkbox" value="Friday"></label> |
                        <label for="5">Sat <input type="checkbox" id="5" data-value="5" name="chkbox" value="Saturday"></label> |
                        <label for="6">Sun <input type="checkbox" id="6" data-value="6" name="chkbox" value="Sunday"></label>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-sm-12">
                        <label for="id-never-ends">
                            Never Ends
                            <input id='id-never-ends' type="checkbox" value="TRUE" disabled>
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5>Starts</h5>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_start_date_start" value=""><br>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_start_date_end" value="" disabled>
                    </div>
                    <!--<div class="col-sm-6">-->
                        <!--<input name="datetime" type="text" class="form-control datetimepicker" id="end_date" value="">-->
                    <!--</div>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5>Ends</h5>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_end_date_start" value="" disabled=""><br>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_end_date_end" value="">
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="sbt">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditOccModalLabel">Set Occurrence</h4>
            </div>
            <form id="edit-form-data" method="POST">
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="id-edit-hood">Select hood for featured restaurant</label><br>
                        <select id="id-edit-hood" name="hood[]" class="form-control multi-select" required="required" multiple>
                            {% for hood in hoods %}
                            <option id="edit-{{ hood.id }}" value="{{ hood.id }}:{{ hood.slug }}">{{ hood.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p></p>
                    <div class="col-sm-12">
                        <label for="restaurant">Select restaurant to feature</label><br>
                        <select id="id-edit-restaurant" name="restaurant[]" class="form-control multi-select" required="required" multiple>
                            {% for restaurant in restaurants %}
                            <option id="edit-{{ restaurant.id }}" value="{{ restaurant.id }}:{{ restaurant.slug }}">{{ restaurant.slug }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p>&nbsp;</p>
                    <input type="radio" name="set" id="edit-single-day" value="single-day"> Single Day |
                    <input type="radio" name="set" id="edit-repeat" value="repeat"> Repeat
                    <p>&nbsp;</p>
                    <div id="edit-occurrence">
                        <h5>Every</h5>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <input id="edit-num" type="text" value="1" class="form-control" disabled>
                        </div>
                        <div class="col-lg-10 col-md-10col-sm-10 col-xs-10">
                            <select class="form-control" id="edit-every">
                                <option value="days">days</option>
                                <option value="weeks">weeks</option>
                                <option value="months">months</option>
                                <option value="years">years</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12" id="edit-dayofweek">
                        <h5>Repeats on</h5>
                        <label for="0">Mon <input type="checkbox" id="0" data-value="0" name="chkbox" value="Monday"></label> |
                        <label for="1">Tue <input type="checkbox" id="1" data-value="1" name="chkbox" value="Tuesday"></label> |
                        <label for="2">Wed <input type="checkbox" id="2" data-value="2" name="chkbox" value="Wednesday"></label> |
                        <label for="3">Thu <input type="checkbox" id="3" data-value="3" name="chkbox" value="Thursday"></label> |
                        <label for="4">Fri <input type="checkbox" id="4" data-value="4" name="chkbox" value="Friday"></label> |
                        <label for="5">Sat <input type="checkbox" id="5" data-value="5" name="chkbox" value="Saturday"></label> |
                        <label for="6">Sun <input type="checkbox" id="6" data-value="6" name="chkbox" value="Sunday"></label>
                    </div>
                    <div class="col-sm-12">
                        <label for="id-never-ends">
                            Never Ends
                            <input id='id-edit-never-ends' type="checkbox" value="TRUE" disabled>
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5>Starts</h5>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_start_date" value=""><br>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_day_start" value="">
                    </div>
                    <!--<div class="col-sm-6">-->
                        <!--<input name="datetime" type="text" class="form-control datetimepicker" id="end_date" value="">-->
                    <!--</div>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5>Ends</h5>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_end_date" value=""><br>
                        <input name="datetime" type="text" class="form-control datetimepicker" id="id_day_end" value="">
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="sbt-edit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Confirm -->
<div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header panel-danger">
                <h4 class="modal-title" id="ConfirmModalLabel">Confirm</h4>
            </div>
            <div class="modal-body">
                <div id="hood-set-to"></div>
                <div class="table-responsive pre-scrollable">
                    <div class="hidden">
                        <span id="everyday"></span>
                        <span id="weekly"></span>
                        <span id="monthly"></span>
                        <select id="hood-id-set-to" multiple></select>
                        <select id="rest-id-set-to" multiple></select>
                        <span id="wdy-id-set-to"></span>
                    </div>
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <th>Restaurants</th>
                            <th>Daily</th>
                        </thead>
                        <tbody id="rest-set-to">
                            <!-- Load data with jquery .append()-->
                        </tbody>
                    </table>
                </div>
                <div class="well">
                    At <span id="selected-stime"></span> - <span id="selected-etime"></span>
                </div>
                <div class="well" id="set-to"></div>
                <div class="well">
                    From <span id="selected-start"></span> to <span id="selected-end"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cls2" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" id="sbt2" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Error -->
<div class="modal fade" id="ModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header modal-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ErrorModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                <h5>Cannot fill past dates</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% block js_includes %}
<script>
$(document).ready(function() {
    $("#repeat").attr('checked', 'checked'); // load repeat radio button selected
    $(".loader").show(); // load loader
    /**
     * Load calendar on page load
     * with all restaurants
     */
    $.get("{% url 'admin-featured-rests-cal-resp' %}", function(data){
        $(".loader").hide();
        $('#load-calendar').html(data);
    });
    /**
     *  Hide week names on page load
     */
    $("#dayofweek").hide();
    /**
     * Initialize Datetime Picker
     */
    $('.datetimepicker').datetimepicker({ format: 'YYYY-MM-DD HH:mm:ss'});
	/**
     * On select option from every
     */
    $('#every').unbind("click").click(function(){
        e = $('#every option:selected').val(); // get selected option
        if (e == 'days') {
            $('#dayofweek').fadeOut('slow');
        } else if (e == 'weeks') {
            $('#dayofweek').fadeIn('slow');
            t = new Date().getDay(); // get current day of the week as integer
            // Loop array with map
            var arr = $('input[name=chkbox]:checkbox').map(function () {
                console.log(this.id);
                // if the id is the current day of the week
                if (this.id == t){
                    $('input[name=chkbox]:checkbox#'+t).attr( 'checked', true )
                }
            }).get()

        } else if (e == 'months') {
            $('#dayofweek').fadeOut('slow');
        } else if (e == 'years') {
            $('#dayofweek').fadeOut('slow');
        }
    });
    /**
     * After clicking cancel button on comfirm
     */
    $('#cls2').unbind("click").click(function(){
        // Clear DOM here
        $('#rest-id-set-to').empty();
        $('#hood-id-set-to').empty();
        $('#rest-set-to').empty();
        $('#everyday').empty();
        $('#weekly').empty();
        $('#monthly').empty();
        $('#selected-start').empty();
        $('#selected-end').empty();
        $("#wdy-id-set-to").empty();
    });
    /**
     * After clicking submit on first modal for input
     */
    $('#sbt').unbind("click").click(function(){
        $('#ModalConfirm').modal({ backdrop: 'static', keyboard: true });
        var n = $('#num').val(); // get the number of occurrence set
        var e = $('#every option:selected').val(); // get selected repeat occurrence
        var h = $('#hood').val(); // get selected value on hood select
        var r = $('#restaurant').val(); // get selected values on restaurant multiple select
        var d = $('#id_end_date_end').val(); // get filled date time on end
        var end = moment(d).format('YYYY-MM-DD HH:mm:ss'); // format the filled datetime
        var etime = end.split(" ")[1];
        var c = $('#selected-start1').text();
        var start = moment(c).format('YYYY-MM-DD HH:mm:ss'); // format the start datetime
        var stime = start.split(" ")[1];
        i = 0;
        var arr = [];
        // var form_data = $('#form-data').serialize();
        if (n == 1 && e == 'days') { // Daily
            $('#everyday').html('Yes');
            $('#set-to').html('Daily until ' + end);
            $.each(h, function( index, value ) {
                console.log(value.split(":")[0]);
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                console.log(index + ': ' + value);
                $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>Yes</td></tr>');
            });
            console.log('Daily');
        } else if (n > 1 && e == 'days') {
            $('#everyday').html('No');
            $('#set-to').html('Every ' + n + ' days until ' + end);
            $.each(h, function( index, value ) {
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
              $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>No</td></tr>');
            });
            console.log('Every ' + n + ' days');
        } else if (n == 1 && e == 'weeks') { // Weekly
            $('#everyday').html('No');
            $('#weekly').html('Yes');
            $('#set-to').html('Weekly until ' + end);
            $.each(h, function( index, value ) {
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
              $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>No</td></tr>');
            });
            $('input[name=chkbox]:checkbox:checked').each(function () {
               arr[i++] = $(this).data("value");
            });
            $.each(arr, function( index, value ) {
                $("#wdy-id-set-to").append('<input type="checkbox" name="wkdy-chkbox" id="'+ value +'" value="'+ value +'" checked>');
            });
            console.log('Weekly');
        } else if (n > 1 && e == 'weeks') {
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#set-to').html('Weekly on ' + n + ' until ' + end);
            $.each(h, function( index, value ) {
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
              $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>No</td></tr>');
            });
            $('input[name=chkbox]:checkbox:checked').each(function () {
               arr[i++] = $(this).data("value");
            });
            console.log(arr);
            $.each(arr, function( index, value ) {
                $("#wdy-id-set-to").append('<input type="checkbox" name="wkdy-chkbox" id="'+ value +'" value="'+ value +'" checked>');
            });

        } else if (n == 1 && e == 'months') { // Monthly
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('Yes');
            $('#set-to').html('Monthly until ' + end);
            $.each(h, function( index, value ) {
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                console.log(index + ': ' + value);
                $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>No</td></tr>');
            });
            console.log('Monthly');
        } else if (n > 1 && e == 'months') {
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('Yes');
            $('#set-to').html('Every ' + n + ' months until ' + end);
            $.each(h, function( index, value ) {
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
              $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>No</td></tr>');
            });
            console.log('Every ' + n + ' months');
        } else if (n == 1 && e == 'years') { // Yearly
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('No');
            $('#yearly').html('Yes');
            $('#set-to').html('Monthly until ' + end);
            $.each(h, function( index, value ) {
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                console.log(index + ': ' + value);
                $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>No</td></tr>');
            });
            console.log('Yearly');
        } else if (n > 1 && e == 'years') {
            $('#everyday').html('No');
            $('#weekly').html('No');
            $('#monthly').html('No');
            $('#years').html('Yes');
            $('#set-to').html('Every ' + n + ' years until ' + end);
            $.each(h, function( index, value ) {
                $("#hood-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
                $("#rest-id-set-to").append('<option value="'+value.split(":")[0]+'" selected>'+value.split(":")[1]+'</option>');
            });
            $.each(r, function( index, value ) {
              $("#rest-set-to").append('<tr><td><span class="hidden" id="rid">' + value.split(":")[0] + '</span>' + value.split(":")[1] + '</td><td>No</td></tr>');
            });
            console.log('Every ' + n + ' years');
        }
        $('#selected-hood').html(h);
        $('#selected-start').html(start);
        $('#selected-end').html(end);
        $('#selected-stime').html(stime);
        $('#selected-etime').html(etime);
        $('#hood-set-to').html('<h4>Featured restaurants in <span class="text-danger">'+ h + '</span></h4>');
    });
    /**
     * After clicking submit on second modal for confirm
     */
	$("#sbt2").unbind("click").click(function(){
	    var daily = $('#everyday').text();
	    var weekly = $('#weekly').text();
        var monthly = $('#monthly').text();
	    var hood = $('#hood-id-set-to').val();
        console.log(hood.toString());
        var restaurant = $('#rest-id-set-to').val();
        console.log(restaurant.toString());
        var weekday = $('#wdy-id-set-to').val();
	    var start = $('#selected-start').text();
	    var end = $('#selected-end').text();
	    // Assign handlers immediately after making the request,
        // and remember the jqxhr object for this request
        var jqxhr = $.post( '/admin/featured-restaurants/calc',
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                hood: hood.toString(),
                restaurant: restaurant.toString(),
                daily: daily,
                weekly: weekly,
                monthly: monthly,
                start: start,
                end: end,
                mon: $('input[id=0][name=wkdy-chkbox]:checkbox:checked').val(),
                tue: $('input[id=1][name=wkdy-chkbox]:checkbox:checked').val(),
                wed: $('input[id=2][name=wkdy-chkbox]:checkbox:checked').val(),
                thu: $('input[id=3][name=wkdy-chkbox]:checkbox:checked').val(),
                fri: $('input[id=4][name=wkdy-chkbox]:checkbox:checked').val(),
                sat: $('input[id=5][name=wkdy-chkbox]:checkbox:checked').val(),
                sun: $('input[id=6][name=wkdy-chkbox]:checkbox:checked').val()
            })
          .done(function() {
            console.log('Begin Submit');
          })
          .fail(function() {
              alert("Error! Data not saved");
          })
          .always(function() {
            console.log( "finished" );
          });
        //
        // Set another completion function for the request above
        jqxhr.always(function() {
          // Clear DOM here
          $('#rest-id-set-to').empty();
          $('#hood-id-set-to').empty();
          $('#rest-set-to').empty();
          $('#everyday').empty();
          $('#weekly').empty();
          $('#monthly').empty();
          $('#selected-start').empty();
          $('#selected-end').empty();
          $("#wdy-id-set-to").empty();
          location.reload();
        });
    });
	/**
     * After clicking checkbox for single day
     */
	$("input#single-day").unbind("click").click(function(){
        $('#occurrence').fadeOut('slow');
        //$('#id_end_date_start').fadeOut('slow');
        //$('#id_start_date_end').fadeOut('slow');
    });
	/**
     * After clicking checkbox for repeat
     */
	$("input#repeat").unbind("click").click(function(){
        $('#occurrence').fadeIn('slow');
        //$('#id_end_date_start').fadeIn('slow');
        //$('#id_start_date_end').fadeIn('slow');
    });
    /**
     * Filter by restaurant
     */
	$("#filter-btn").unbind("click").click(function(){
	    var restaurants = $('#filter-restaurants').val();
	    $.post( "{% url 'admin-featured-rests-cal-resp' %}", {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                restaurants: restaurants.toString()
          })
          .done(function(data) {
              $(".loader").hide();
              $('#load-calendar').html(data);
          })
          .fail(function() {
              alert("Error! Data not saved");
          })
          .always(function() {
            console.log( "finished" );
          });
    });
 });
</script>
{% endblock js_includes %} {% endblock %}